<!DOCTYPE html>
<html>
<head>
  <title>TeamsnapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <%= link_to root_path, class: "header-logo" do %>
      <img src="http://marketing-cdn.teamsnap.com/teamsnap_logo_white.png">
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <span class="user-auth-wrapper">
      <% if current_user %>
        <%= current_user.email %> |
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in with TeamSnap", "/auth/teamsnap" %>
      <% end %>
    </span>
  </header>
  <nav>
    <ul>
      <li>Home</li>
      <li class="active">Roster</li>
      <li>Schedule</li>
      <li>Availability</li>
      <li>Tracking</li>
      <li>Payments</li>
      <li>Statistics</li>
      <li>Refreshments</li>
      <li>Media</li>
      <li>Messages</li>
      <li>Team Store</li>
      <li>Preferences</li>
      <li>Manager</li>
    </ul>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
