<!DOCTYPE html>
<html>
<head>
  <title>TeamsnapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google analytics tracking via 'google-analytics-rails' gem -->
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <header>

    <%= link_to root_path, class: "header-logo" do %>
      <img src="http://marketing-cdn.teamsnap.com/teamsnap_logo_white.png">
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <span class="user-auth-wrapper">
      <%= current_user.email %> |
      <%= link_to "Sign out", signout_path %>
    </span>
  </header>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", home_path %>
      </li>
      <li>
        <%= link_to "Roster", roster_path %>
      </li>
      <li>
        <%= link_to "Schedule", schedule_path %>
      </li>
      <li>
        <%= link_to "Availability", availability_path %>
      </li>
      <li>
        <%= link_to "Tracking", tracking_path %>
      </li>
      <li>
        <%= link_to "Payments", payments_path %>
      </li>
      <li>
        <%= link_to "Statistics", statistics_path %>
      </li>
      <li>
        <%= link_to "Refreshments", refreshments_path %>
      </li>
      <li>
        <%= link_to "Messages", messages_path %>
      </li>
      <li>
        <%= link_to "Preferences", preferences_path %>
      </li>
      <li>
        <%= link_to "Manager", manager_path %>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68343212-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
