<!DOCTYPE html>
<html>
<head>
  <title>TeamsnapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <%= link_to root_path, class: "header-logo" do %>
      <img src="https://www.teamsnap.com/assets/img/logo.png">
    <% end %>

    <%= flash[:notice] %>
  </header>
  <nav>
    <ul>
      <li>Home</li>
      <li>Roster</li>
      <li>Schedule</li>
      <li>Availability</li>
      <li>Tracking</li>
      <li>Payments</li>
      <li>Statistics</li>
      <li>Refreshments</li>
      <li>Media</li>
      <li>Messages</li>
      <li>Team Store</li>
      <li>Preferences</li>
      <li>Manager</li>
    </ul>
    <% if current_user %>
      Welcome, <%= current_user.email %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with TeamSnap", "/auth/teamsnap" %>
    <% end %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
