<!DOCTYPE html>
<html>
<head>
  <title>TeamsnapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <%= link_to root_path, class: "header-logo" do %>
      <img src="http://marketing-cdn.teamsnap.com/teamsnap_logo_white.png">
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <span class="user-auth-wrapper">
      <% if current_user %>
        <%= current_user.email %> |
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in with TeamSnap", "/auth/teamsnap" %>
      <% end %>
    </span>
  </header>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", home_path %>
      </li>
      <li>
        <%= link_to "Roster", roster_path %>
      </li>
      <li>
        <%= link_to "Schedule", schedule_path %>
      </li>
      <li>
        <%= link_to "Availability", availability_path %>
      </li>
      <li>
        <%= link_to "Tracking", tracking_path %>
      </li>
      <li>
        <%= link_to "Payments", payments_path %>
      </li>
      <li>
        <%= link_to "Statistics", statistics_path %>
      </li>
      <li>
        <%= link_to "Refreshments", refreshments_path %>
      </li>
      <li>
        <%= link_to "Messages", messages_path %>
      </li>
      <li>
        <%= link_to "Preferences", preferences_path %>
      </li>
      <li>
        <%= link_to "Manager", manager_path %>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
